.section--otherbackground {
	background-color: $command-fon;
}

.command {
	display: flex;
	align-items: center;
}
.command__item {
	box-shadow: $command-box-shadow;
	border-radius: 0px 0px 4px 4px;
	background-color: $secondary-text-color;
	&:not(:last-child)
 {
	margin-right: 30px;
}
}

.command__title {
	margin-top: 0;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.command__text {
	margin-top: 0;
	margin-bottom: 16px;
	text-align: center;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: $light-text-color;
}
.command__selector {
	padding-bottom: 30px;
	padding-top: 30px;
}
