.hero {
	max-width: 1600px;
	height: 600px;
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	background-position: center;
	margin-right: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $hero-color;
	background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
		url(../images/hero.jpg);
}
.hero__title {
	font-weight: 900;
	font-size: 44px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.36;
	letter-spacing: 0.06em;
	color: $secondary-text-color;
	margin-bottom: 30px;
}
.hero__button {
	display: inline-block;
	padding: 10px 32px;
	min-width: 200px;
	border-radius: 4px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	background-color: $back-ground-color;
	color: $secondary-text-color;
	box-shadow: $hero-button-shadow;
	transition: background-color $transition-time $transition-function;
	&:hover,
	&:focus {
		background-color: $button-submit-color;
	}
}
