.menu-link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	transition: color var(--transition-time) var(--transition-function);
}

.menu-item:not(:last-child) {
	margin-right: 50px;
}

.contacts-item:not(:last-child) {
	margin-right: 30px;
}
.contacts-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--light-text-color);
	transition: color var(--transition-time) var(--transition-function);
    &:hover,
    &:focus {
        color: var(--back-ground-color);
    }
}

.menu-link {
	position: relative;
    &.current {
        color: var(--back-ground-color);
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: var(--back-ground-color);
        }
    }
    &::after {
        display: block;
        border-radius: 2px;
    }
    &:hover,
    &:focus
    {
        color: var(--back-ground-color);
    }
}
