.social {
	justify-content: center;
}
.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	fill: var(--secondary-text-color);
	background-color: rgba(255, 255, 255, 0.1);
	width: 44px;
	height: 44px;
	border-radius: 50%;
	transition: background-color var(--transition-time) var(--transition-function);
}
.social-link-inversed {
	background-color: rgba(255, 255, 255, 0.1);
	fill: var(--secondary-text-color);
	transition: background-color var(--transition-time) var(--transition-function);
}

.social-link-inversed:hover,
.social-link-inversed:focus {
	background-color: var(--back-ground-color);
}

.social-link:hover,
.social-link:focus {
	background-color: var(--back-ground-color);
	fill: var(--secondary-text-color);
}

.social-inversed {
	background-color: transparent;
	fill: var(--icon-border-color);
}

.social-item:not(:last-child) {
	margin-right: 10px;
}
