.subscribe {
	display: flex;
	align-items: flex-end;
	margin-left: auto;
}

.subscribe__email {
	display: flex;
	flex-direction: column;
	margin-right: 12px;
}

.subscribe__input {
	min-width: 358px;
	height: 50px;
	padding-left: 16px;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: $footer-background-color;
	background-color: var(--hero-color);
	border: 1px solid $subscribe-border;
	box-shadow: $hero-button-shadow;
	border-radius: 4px;
	transition: border-color $transition-time $transition-function;
	&:hover,
	&:focus {
		border-color: $back-ground-color;
		outline: 0;
	}
}

.subscribe__btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.subscribe__icon {
	margin-left: 10px;
}

.subscribe__button {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 32px;
	border-radius: 4px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	background-color: $back-ground-color;
	color: $secondary-text-color;
	box-shadow: $submit-subscribe-button-shadow;
	transition: background-color $transition-time $transition-function;
	&:hover,
	&:focus {
		background-color: $button-submit-color;
	}
}
