.address {
	display: flex;
	align-items: baseline;
}

.subscribe-title,
.join-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $secondary-text-color;
	font-style: normal;
	margin-bottom: 20px;
}
