.logo {
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: var(--back-ground-color);
	font-style: normal;
}
.logo-header {
	color: var(--primary-text-color);
}
.logo-second {
	color: var(--secondary-text-color);
}