:root {
	--primary-text-color: #212121;
	--back-ground-color: #2196f3;
	--secondary-text-color: #ffffff;
	--hero-color: #2f303a;
	--light-text-color: #757575;
	--border-line-color: #ececec;
	--footer-background-color: rgba(255, 255, 255, 0.6);
	--command-fon: #f5f4fa;
	--button-submit-color: #188ce8;
	--works-bg-color: #eeeeee;
	--icon-border-color: #afb1b8;
	--classes-background: rgba(47, 48, 58, 0.8);
	--works-bgc: rgba(33, 150, 243, 0.9);
	--transition-time: 250ms;
	--transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}
